.jumbotron, .footer {
  background: linear-gradient(60deg, #24aadb, #27dbb1);
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  background-size: 200% 100%;
  margin: 0;
  text-shadow: .5px .5px black;
}

#aboutMe, #myWork, #myMedia, #contactMe, #randomBtn, #imageView, #videoView {
  background: linear-gradient(60deg, #ff0000, #dbab27);
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  background-size: 200% 100%;
  color:azure;
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(8, 8, 8, 0.2);
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.footer {
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
}

.bgImg1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  .bgImg1 {
    background-image: url("./assets/KauaiEucalyptus_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .bgImg1 {
    background-image: url("./assets/KauaiEucalyptus_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 1025px) {
  .bgImg1 {
    background-image: url("./assets/bgImg.PNG");
    min-height: 500px;
  }
}

.bgImg2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  .bgImg2 {
    background-image: url("./assets/kauaiSunset_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .bgImg2 {
    background-image: url("./assets/kauaiSunset_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 1025px) {
  .bgImg2 {
    background-image: url("./assets/IMG_4303.PNG");
    min-height: 500px;
  }
}

.bgImg3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  .bgImg3 {
    background-image: url("./assets/kauaiPineapple_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .bgImg3 {
    background-image: url("./assets/kauaiPineapple_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 1025px) {
  .bgImg3 {
    background-image: url("./assets/IMG_3428.PNG");
    min-height: 500px;
  }
}

.bgImg4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  .bgImg4 {
    background-image: url("./assets/kauaiCove_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .bgImg4 {
    background-image: url("./assets/kauaiCove_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 1025px) {
  .bgImg4 {
    background-image: url("./assets/IMG_4170.PNG");
    min-height: 500px;
  }
}

.bgImg5 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  .bgImg5 {
    background-image: url("./assets/kauaiFlower_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .bgImg5 {
    background-image: url("./assets/kauaiFlower_Small.JPG");
    min-height: 250px;
  }
}
@media (min-width: 1025px) {
  .bgImg5 {
    background-image: url("./assets/IMG_3592.PNG");
    min-height: 500px;
  }
}

.carousel-inner {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  border-radius: .5rem;
}

.externalLink {
  display: flex;
  justify-content: center;
}

.carousel-caption {
  display: flex;
  align-self: flex-end;
  
}

#btnContainer {
  display: flex;
  justify-content: end;
  align-content: flex-end;
  align-items: flex-end;
}

#arrayImages {
  width: 500px;
  height: auto;
}

#arrayImages, #arrayVideos {
  border-radius: .5rem;
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(8, 8, 8, 0.2);
}

#backBtn {
  text-shadow: 1px 1px black;
}

.imgVid1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

textarea, input {
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(8, 8, 8, 0.2);
}
